
 
    
    <div>
       
        <div >      
            <div class=" card p-1" >              
                <div class=" mr-1 d-flex align-items-center" >     
                    <div class="mr-1 ml-2">                
                        <p-dropdown [options]="elementosObraSocial" appendTo="body" [(ngModel)]="os_nombre" (onChange)="changeElementoObraSocial($event)" placeholder="Obra social" optionLabel="os_nombre" [showClear]="true" [filter]="true" autofocus></p-dropdown >                                         
                    </div>

                    <div >
                        <label class="ml-3 mr-2 ">Fecha:</label>
                        <p-calendar [inputStyle]="{'height':'29.1px'}"  appendTo="body"    class="mr-2 mt-2" [(ngModel)]="fecha"   tabindex="0"  [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true" >
                        <ng-template pTemplate="date" let-date>
                                        <span    style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                            </ng-template> 
                        </p-calendar>   
                    </div> 
                  
                    <div class="ml-2 col-5">
                        <div class=' input-group input-group-sm  d-flex align-items-center'>       
                               
                                <input (keyup.enter)='buscarPsicologo()' placeholder='Buscar psicólogo' class='form-control   form-control-sm'  [(ngModel)]='psicologo_nombre'  type="text"  />  
    
                            <div class='input-group-append'>
                            <span class='input-group input-group-text form-control-sm'>
                                <a class="pointer icon-color-blue" (click)='buscarPsicologoLista()'>
                                    <i class="fas fa-search  mr-2"></i>
                                </a>
                            </span>
                            </div>
                        </div> 
                    </div>
                </div>    
                  
                <div class=" mr-1 mt-2 d-flex align-items-center" >            

                    <div class="mr-1 ml-2">                
                        <p-dropdown [options]="elementosConvenio" appendTo="body"  (onChange)="changeElementoConvenio($event)" placeholder="Convenio" optionLabel="os_sesion" [showClear]="true" [filter]="true"></p-dropdown>                                         
                    </div>
                    <div class="ml-2">
                            <input  placeholder='cantidad' type="number" class='form-control  form-control-sm'  [(ngModel)]='cantidad'   />                                      
                    </div>
                        <div class="ml-2 col-5">
                        <div class=' input-group input-group-sm '>
                            <input (keyup.enter)='buscarPaciente()' placeholder='Buscar paciente' class='form-control   form-control-sm' [(ngModel)]='paciente_nombre'   />              
                            <div class='input-group-append'>
                            <span class='input-group input-group-text form-control-sm'>
                                <a class="pointer icon-color-blue" (click)='buscarPacienteLista()'>
                                    <i class="fas fa-search  mr-2"></i>
                                </a>
                            </span>
                            </div>
                        </div> 
                    </div>
                    <div class="d-flex justify-content-end">
                            <div class="ml-2">     <button    class="  btn btn-info btn-sm"  (click)="agregar()" > <i class="fas fa-plus fa-sm mr-2"></i>Agregar </button>  </div> 
                    <div class="ml-2">     <button    class="  btn btn-danger btn-sm"  (click)="limpiar()" > <i class="fas fa-trash fa-sm mr-2"></i>Limpiar </button>  </div> 
                    </div>
                
                </div>  
                   
              </div>    

          </div>
          <p-table  #dt class="pt-4"  tableStyleClass="prime-table" selectionMode="single" [columns]="cols"  [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
          scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="icon-color-loader-new fas fa-spinner fa-3x">
  

          <ng-template pTemplate="caption">
            <div class=" mr-1 d-flex align-items-center" >
                <div class="ml-2">     <button    class="  btn btn-success btn-sm"  (click)="buscarOrdenes()" >Buscar ordenes de psicólogo</button>  </div> 
            </div>          
        </ng-template>
  
                <ng-template pTemplate="header" let-columns >
              
                  <tr >
                       
                      <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activar para ordenar en forma descendente" ariaLabelAsc="Activar para ordenar en forma ascendente"></p-sortIcon>
                      </th>
                      <th style="width: 3em">
                        <p-tableHeaderCheckbox  ></p-tableHeaderCheckbox>
                      </th>
                    </tr>
                    <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">             
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_apellido_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">      
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_fecha'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">      
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">  
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_precio_sesion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">  
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_precio_total'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                          
                        <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_os_sesion" appendTo="body" defaultLabel="Buscar"	 *ngIf='col.field =="os_sesion"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>                    
                        <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_os_sesion_codigo" appendTo="body" defaultLabel="Buscar"	 *ngIf='col.field =="os_sesion_codigo"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>                                            
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'pac_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                                                               
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'pac_dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                                                                                                                
                    </th>
                    <th></th>
                </tr>
            </ng-template>
                
                <ng-template pTemplate="body" let-elemento> 
                     
                <tr style="height:28px" >   
                    <td style="width: 6%">                       
                        <a   (click)="editarRegistro(elemento)" ><i class="far fa-edit fa-lg icon-color-info  my-hover" ></i></a>                 
                      </td>           
                     <!--    <td [ngClass]="colorString(elemento.operacion_cobro_id)" style="width: 5%"><a class="my-hover" (click)="verDetalle(elemento)">{{elemento.operacion_cobro_id}}</a></td>    -->
                        
                        <td style="width: 12%">{{elemento.mat_matricula}}</td>      
                        <td style="width: 22%">{{elemento.mat_apellido_nombre}}</td>      
                        <td style="width: 12%">{{elemento.os_fecha | date: 'dd/MM/yyyy'}}</td>     
                        <td style="width: 20%">{{elemento.os_sesion}}</td>                                
                        <td style="width: 12%">{{elemento.os_sesion_codigo}}</td>  
                        <td style="width: 12%">{{elemento.os_precio_sesion}}</td>  
                        <td style="width: 12%">{{elemento.os_cantidad}}</td>    
                        <td style="width: 12%">{{elemento.os_precio_total}}</td>                                                                                                                                                                  
                        <td style="width: 15%">{{elemento.pac_nombre}}</td> 
                        <td style="width: 10%">{{elemento.pac_dni}}</td> 
                           <td style="width: 3em">
                              <p-tableCheckbox [value]="elemento"></p-tableCheckbox>
                          </td>   
                      
                </tr>
                </ng-template>

          </p-table>
        
        </div>


  
