<form class="col-md-12" [formGroup]="updateDataForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha Creaciôn</label>
        <div class="input-group input-group-sm mb-3">
          <p-calendar
            [inputStyle]="{ height: '29.1px' }"
            [showTime]="true"
            class="mr-2"
            formControlName="fecha_creacion"
            tabindex="0"
            [locale]="es"
            dateFormat="dd/mm/yy"
            [readonlyInput]="false"
          >
            <ng-template pTemplate="date" let-date>
              <span
                style="
                  border-radius: 50%;
                  padding: 0.25em;
                  width: 1.75em;
                  height: 1.75em;
                  display: block;
                "
                >{{ date.day }}</span
              >
            </ng-template>
          </p-calendar>
        </div>
      </div>

      <div class="form-group">
        <div>
          <label>Titulo</label>
        </div>
        <div class="input-group input-group-sm mb-3">
          <input
            placeholder="Ingrese un titulo"
            class="form-control col-md-12 form-control-sm"
            formControlName="titulo"
          />
        </div>
      </div>

      <div class="form-group">
        <div>
          <label>Descripción</label>
        </div>
        <div class="input-group input-group-sm mb-3">
          <input
            placeholder="Ingrese una descripción"
            class="form-control col-md-12 form-control-sm"
            formControlName="descripcion"
          />
        </div>
      </div>

      <div class="form-group">
        <div>
          <label>Archivo a subir</label>
        </div>
        <div class="input-group input-group-sm mb-3">
          <input
            #imageInput
            placeholder="Seleccione una imagen"
            class="form-control col-md-12 form-control-sm"
            (change)="fileChange($event)"
            type="file"
            placeholder="File"
            accept="image/*,.pdf ,.PDF , .doc, .docx, .xls, .xlsx, .mp4, .mpeg"
          />
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <div>
          <label>Tipo enlace</label>
        </div>
        <div class="input-group input-group-sm mb-3">
          <p-dropdown
            [options]="elementoPagina"
            formControlName="code"
            (onChange)="changeElementoPagina($event)"
            placeholder="Seleccione una pagina"
            optionLabel="pagina"
            [showClear]="true"
            [filter]="false"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label>Estado</label>
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="ui-g" style="width: 250px; margin-bottom: 10px">
            <div class="ui-g-12">
              <p-radioButton
                name="group44"
                value="ACTIVO"
                label="ACTIVO"
                formControlName="estado"
                inputId="preopt1"
              ></p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton
                name="group44"
                value="INACTIVO"
                label="INACTIVO"
                formControlName="estado"
                inputId="preopt2"
              ></p-radioButton>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div>
          <label>Es Importante</label>
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="ui-g" style="width: 250px; margin-bottom: 10px">
            <div class="ui-g-12">
              <p-radioButton
                name="group2"
                value="SI"
                label="SI"
                formControlName="es_importante"
                inputId="preopt5"
              ></p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton
                name="group2"
                value="NO"
                label="NO"
                formControlName="es_importante"
                inputId="preopt6"
              ></p-radioButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<label><b> Tipo de archivo </b></label>
<div class="row ml-5">
  <div class="row mr-2">
    <div class="mr-2 ml-2">
      <h6>Texto (sin archivo)</h6>
      <p-inputSwitch
        (onChange)="handleChangeTexto($event)"
        [(ngModel)]="texto"
      ></p-inputSwitch>
    </div>
    <div class="mr-2 ml-2">
      <h6>Video</h6>
      <p-inputSwitch
        (onChange)="handleChangeVideo($event)"
        [(ngModel)]="video"
      ></p-inputSwitch>
    </div>
  </div>
  <div class="row mr-2">
    <div class="mr-2 ml-2">
      <h6>Imagen</h6>
      <p-inputSwitch
        (onChange)="handleChangeImagen($event)"
        [(ngModel)]="imagen"
      ></p-inputSwitch>
    </div>
    <div class="mr-2 ml-2">
      <h6>Yotube</h6>
      <p-inputSwitch
        (onChange)="handleChangeYotube($event)"
        [(ngModel)]="youtube"
      ></p-inputSwitch>
    </div>
  </div>
  <div class="row">
    <div class="mr-2 ml-2">
      <h6>Documento</h6>
      <p-inputSwitch
        (onChange)="handleChangeDocumento($event)"
        [(ngModel)]="documento"
      ></p-inputSwitch>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix mt-2">
    <button
      class="ml-2 btn btn-info btn-md btn-block"
      type="submit"
      (click)="actualizarDatos()"
    >
      <i class="fas fa-plus fa-lg mr-2"></i>Guardar
    </button>
  </div>
</p-footer>
