
      <div >
        <p-table  #dt class="pt-2"  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos"  [loading]="loading" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
        scrollHeight="65vh" [scrollable]="true"  loadingIcon="fas fa-spinner fa-2x icon-color-green"  >
  
        <ng-template pTemplate="caption">
            <div class="table-header">
              <div class=" d-flex justify-content-between">
                <div class="m-2 d-flex justify-content-start">  <button class="btn btn-info btn-sm" (click)="nuevo()"> <i class="fas fa-plus fa-sm mr-2"></i>Matricula</button>  </div> 
                <div class="m-2 d-flex justify-content-end">  <button class="btn btn-success btn-sm" (click)="accionesmatricula()"> <i class="fas fa-search fa-sm mr-2"></i>Acciones sobre padron</button>  </div> 
              </div>
              
            </div>
        </ng-template>
                   <ng-template pTemplate="header" let-columns >
                  
                              <tr >
                                   
                                <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th> 
                              
                            </tr> 
                            <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_matricula_psicologo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_mat_sexo" appendTo="body" defaultLabel=""   showHeader="false"  *ngIf='col.field =="mat_sexo"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                                <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_mat_localidad" appendTo="body" defaultLabel=""   showHeader="false"  *ngIf='col.field =="mat_localidad"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>                                
                                <input [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_tel_laboral'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_fecha_nacimiento'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" dateFormat="yy-mm-dd">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_fecha_egreso'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" dateFormat="yy-mm-dd">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'mat_fecha_matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" dateFormat="yy-mm-dd">
                               
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
       

            <ng-template pTemplate="body" let-elementos  >
                <tr style="height:24px"  > 
                  <td style="width: 6%">
                      <a  (click)="buscar(elementos)" class="icon-hover"> <i class="fas fa-pen icon-color-clinica fa-lg"></i></a>     
                    </td>
                  
                  <td style="width: 10%">{{elementos.mat_matricula_psicologo}}</td>
                  <td style="width: 20%">{{elementos.mat_apellido}}</td>
                  <td style="width: 20%">{{elementos.mat_nombre}}</td>
                  <td style="width: 10%">{{elementos.mat_dni}}</td>
                  <td style="width: 8%">{{elementos.mat_sexo}}</td>
                  <td style="width: 12%">{{elementos.mat_localidad}}</td>                  
                  <td style="width: 10%">{{elementos.mat_tel_laboral}}</td>
                  <td style="width: 10%">{{elementos.mat_fecha_nacimiento | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 10%">{{elementos.mat_fecha_egreso | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 10%">{{elementos.mat_fecha_matricula | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 6%">
                    <a  (click)="detalle($event,op,elementos)"><i class="fas fa-bars icon-color-informacion fa-lg icon-hover"></i></a>     
                  </td>
                </tr>
            </ng-template>
           
        </p-table>
        <p-overlayPanel #op appendTo="body"  [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" [showCloseIcon]="true" >                                                
            <div class=" card-header  ">
              <h6 class="d-flex justify-content-center  icon-color-informacion">COBROS</h6>
            </div>               
               <span>   <a class="nav-link  icon-color-usuario my-hover" (click)="realizarCobro()"> <i class="fas fas fa-file-invoice-dollar fa-lg mr-2"></i> Cobros</a></span>               
               <span>   <a class="nav-link icon-color-rosa my-hover" (click)="historiaPagos()"> <i class="fas fa-history fa-lg mr-2"></i>  Historia pagos/deuda</a></span>
               <hr>
               <h6 class="d-flex justify-content-center  icon-color-informacion">OBRA SOCIAL</h6>
               <span>   <a class="nav-link icon-color-verde-oscuro my-hover" (click)="asociarObraSocial()"> <i class="fas fa-file-medical fa-lg mr-2"></i> Asociar obras sociales</a></span>
               <span>   <a class="nav-link icon-color-verde-oscuro my-hover" (click)="liquidaciones()"> <i class="fas fa-file-medical fa-lg mr-2"></i> Liqudaciones</a></span>
               
              <!-- <button class="btn-cuadrado-success  btn--block " (click)="detalleProduccion(elemento)"  >Detalle  producción</button>      -->
          </p-overlayPanel> 
        
      </div>

     