
    <div>
      <div class="card p-1">
          <div class=" mr-1 d-flex align-items-center d-flex justify-content-between " >
                <div class=" d-flex justify-content-start">
                   <div class="ml-2 mr-2"> <button    class="ml-2 btn  btn-info btn-sm btn-block float-right mr-2"  (click)="BuscarLiquidacion()" >Buscar liquidación</button></div>
                  </div>
                  <div class=" d-flex justify-content-start">
                  </div>
                  <div class="d-flex justify-content-end">

                    <div class="ml-2 mr-2"> <button    class="ml-3 btn  btn-danger btn-sm btn-block float-right "  (click)="generarDeuda()" >Generar deuda</button></div>
                  </div>
        </div>
      </div>

    <div class="card p-1">
      <div class=" mr-1 d-flex align-items-center d-flex justify-content-between " >
            <div class=" d-flex justify-content-start">
              <button    class="  btn btn-success btn-sm mr-1"  (click)="listarLiquidacionByMatricula()" > <i class="fas fa-search fa-xs mr-2"></i>Listar actuación profesional</button>
              <!-- <button    class="  btn btn-info btn-sm mr-1"  (click)="imprimirActuacionProfesional()" > <i class="fas fa-search fa-xs mr-2"></i>Imprimir actuación profesional</button> -->
              <button    class="  btn btn-info btn-sm mr-1 ml-2"  (click)="archivotxtDos()" >Archivo txt DOS</button>
              <div class="mr-2 ml-2" *ngIf="psicologo"><label >{{psicologo.mat_matricula_psicologo}} - {{psicologo.mat_apellido}} {{psicologo.mat_nombre}}</label></div>
              </div>
              <div class=" d-flex justify-content-start">
              </div>
              <div class="d-flex justify-content-end">
              </div>
    </div>
  </div>


      <div class="card p-1" *ngIf="id_liquidacion">
        <div class=" mr-1 d-flex align-items-center d-flex justify-content-between " >
              <div class=" d-flex justify-content-start" >
                 <div class="ml-2 mr-2"> <button    class="ml-2 btn  btn-info btn-sm btn-block float-right mr-2"  (click)="GenerarIngresosBrutos()" >Generar Numero ingresos brutos</button></div>
                 <div ><label>Proximo ing. brutos: </label><input class="form-input " [(ngModel)]="proximo_numero"></div>
                </div>
                <div class=" d-flex justify-content-start">


                </div>
                <div class="d-flex justify-content-end" >
                  <div class="ml-2 mr-2"> <button    class="ml-2 btn  btn-info btn-sm btn-block float-right mr-2"  (click)="GenerarRecibo()" >Generar Numero recibo</button></div>
                  <div ><label>Proximo recibo: </label><input class="form-input " [(ngModel)]="proximo_numero_recibo"></div>
                </div>
      </div>
    </div>

  <p-table  #dt class="pt-2"  tableStyleClass="prime-table" selectionMode="single" [columns]="cols"  [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
  scrollHeight="500px" [scrollable]="true" (onFilter)="filtered($event)"   [loading]="loading" loadingIcon=" icon-color-loader-new fas fa-spinner fa-3x ">




        <ng-template pTemplate="header" let-columns >
          <tr >
              <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activar para ordenar en forma descendente" ariaLabelAsc="Activar para ordenar en forma ascendente"></p-sortIcon>
              </th>
              <th style="width: 3em">
                  <p-tableHeaderCheckbox  ></p-tableHeaderCheckbox>
                </th>
            </tr>
            <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" >
              <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'id_liquidacion_detalle'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
              <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_apellidoynombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_liq_bruto'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_ing_brutos'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_lote_hogar'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_gasto_admin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_imp_cheque'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_desc_matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_desc_fondo_sol'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_otros_ing_eg'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_liq_neto'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'num_comprobante'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_num_ing_bruto'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_banco_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'id_liquidacion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">


            </th>
            <th></th>
        </tr>
    </ng-template>

        <ng-template pTemplate="body" let-elemento>

        <tr style="height:28px"  >
            <td style="width: 6%">
              <a  (click)="detalle($event,op,elemento)"><i class="fas fa-bars icon-color-informacion fa-lg icon-hover"></i></a>
              </td>
             <td style="width: 8%; font-size: 8px">{{elemento.id_liquidacion_detalle}}</td>
             <td style="width: 8%">{{elemento.mat_matricula}}</td>
             <td style="width: 20%; font-size: 8px">{{elemento.mat_apellidoynombre}}</td>
             <td style="width: 12%"><b class="texto-info-bold">{{elemento.os_liq_bruto |  number : '1.2-2'}}</b></td>
             <td style="width: 12%">{{elemento.os_ing_brutos |  number : '1.2-2'}}</td>
             <td style="width: 12%">{{elemento.os_lote_hogar |  number : '1.2-2'}}</td>
             <td style="width: 12%">{{elemento.os_gasto_admin |  number : '1.2-2'}}</td>
             <td style="width: 12%">{{elemento.os_imp_cheque |  number : '1.2-2'}}</td>
             <td style="width: 12%">{{elemento.os_desc_matricula |  number : '1.2-2'}}</td>
             <td style="width: 12%">{{elemento.os_desc_fondo_sol |  number : '1.2-2'}}</td>
             <td style="width: 12%">{{elemento.os_otros_ing_eg |  number : '1.2-2'}}</td>
             <td style="width: 12%"><b class="texto-success-bold">{{elemento.os_liq_neto |  number : '1.2-2'}}</b></td>
             <td style="width: 8%">{{elemento.num_comprobante}}</td>
             <td style="width: 8%">{{elemento.os_num_ing_bruto}}</td>
             <td style="width: 12%; font-size: 8px;">{{elemento.mat_banco_nombre}}</td>
             <td style="width: 6%">{{elemento.id_liquidacion}}</td>
                <td style="width: 3em">
                  <p-tableCheckbox [value]="elemento"></p-tableCheckbox>
              </td>
        </tr>
        </ng-template>



        <ng-template pTemplate="footer">
            <tr class="mt-3">
                      <td style="width: 20%" >TOTALES</td>
                      <td style="width: 20%" class="es-ingreso">BRUTO: {{TOTAL_BRUTO |  number : '1.2-2'}}</td>
                      <td style="width: 20%" class="es-egreso">DEDUCCIONES: {{TOTAL_DEDUCCIONES |  number : '1.2-2'}}</td>
                      <td style="width: 20%" class="es-egreso">CONCEPTOS: {{TOTAL_CONCEPTOS |  number : '1.2-2'}}</td>
                      <td style="width: 20%" class="es-ingreso">NETO: {{TOTAL_NETO |  number : '1.2-2'}}</td>
            </tr>

            </ng-template>

  </p-table>


  <p-overlayPanel #op appendTo="body"  [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" [showCloseIcon]="true" >


    <span>  <small> <a class="nav-link icon-color-verde-oscuro my-hover" (click)="detalleLiquidacion(elemento)"> Detalle de liquidación</a></small></span>
    <span>  <small> <a class="nav-link icon-color-danger my-hover" (click)="editarLiquidacion(elemento)"> Editar registro de liquidación</a></small></span>
    <span>  <small> <a class="nav-link icon-color-info my-hover" (click)="detalleCobro(elemento)"> Ver cobros asociados</a></small></span>
    <span>  <small> <a class="nav-link icon-color-info my-hover" (click)="generarPdfRentas(elemento)">Certificado Ing. Brutos</a></small></span>
   <!-- <button class="btn-cuadrado-success  btn--block " (click)="detalleProduccion(elemento)"  >Detalle  producción</button>      -->
</p-overlayPanel>


  </div>


